<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #006847;
            margin: 0;
            padding: 20px;
        }
        
        h1 {
            text-align: center;
            color: #fff;
        }
        
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #fff;
        }
        
        .content {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
        }
        
        @keyframes fade-in {
            0% { opacity: 0; transform: translateY(20px); }
            100% { opacity: 1; transform: translateY(0); }
        }
        
        .fade-in {
            opacity: 0;
            animation: fade-in 0.5s ease-in-out forwards;
        }
        
        form {
            margin-bottom: 10px;
        }
        
        label {
            display: block;
            margin-bottom: 5px;
        }
        
        input[type="text"] {
            width: 100%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }
        
        input[type="radio"] {
            margin-right: 5px;
            vertical-align: middle;
        }
        
        .radio-label {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }
        
        button[type="submit"] {
            padding: 5px 10px;
            background-color: #006847;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        button[type="submit"]:hover {
            background-color: #004f2d;
        }
        
        input[type="submit"] {
            padding: 3px 8px;
            background-color: #D21034;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        input[type="submit"]:hover {
            background-color: #B61C29;
        }
        
        .delete-button {
            padding: 5px 10px;
            background-color: #fff;
            color: #D21034;
            border: 1px solid #D21034;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .delete-button:hover {
            background-color: #ffebee;
            color: #c62828;
        }
    </style>
</head>
<body>
    <h1 class="fade-in">FlaskTODO</h1>
    <hr class="fade-in">
    <div class="content fade-in">
        <form method="post">
            <p>
                <label for="content">Todo content:</label>
                <input type="text" name="content" placeholder="Todo Content">
            </p>
            <p>
                <label for="degree">Degree:</label>
            </p>
            <p>
                <input id="degree-0" name="degree" required type="radio" value="Important">
                <label for="degree-0" class="radio-label">Important</label>
            </p>
            <p>
                <input id="degree-1" name="degree" required type="radio" value="Unimportant">
                <label for="degree-1" class="radio-label">Unimportant</label>
            </p>
            <button type="submit">Submit</button>
        </form>
        <hr>
        {% for todo in todos %}
        <div class="todo fade-in">
            <p>{{ todo['content'] }} <i>({{ todo['degree']}})</i></p>
            <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}">
                <input type="submit" value="Delete Todo" onclick="return confirm('Are you sure you want to delete this entry?')" class="delete-button">
            </form>
        </div>
        {% endfor %}
    </div>
    <script>
        // Trigger fade-in animations
        window.addEventListener("DOMContentLoaded", function(event) {
            var elements = document.querySelectorAll(".fade-in");
            elements.forEach(function(element) {
                element.style.opacity = 1;
                element.style.transform = "translateY(0)";
            });
        });
    </script>
</body>
</html>
